@media all and (min-width: 480px) {
    .CreateEvent {
        padding: 60px 0;
    }

    .CreateEvent form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.CreateEvent form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
}

.container {
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
}

.button-padding {
    margin-left: 1em;
}