.Landing .lander {
    padding: 80px 0;
    text-align: center;
}

.Landing .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.container-custom {
    background: rgba(192, 192, 192, 0.7);
    border-radius: 25px;
    position: relative;
    top: 2em;
}

.bg {
    background-image: url("ULM Background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
